body {
  background-color: hsl(218, 23%, 16%);
  color: hsl(193, 38%, 86%);
  font-family: "Manrope", sans-serif;
  font-size: 28px;
  text-align: center;
  margin: 0;
}

/* Advice Section */
#advice-id {
  color: hsl(150, 100%, 66%);
  font-size: 12px;
  letter-spacing: 4px;
  margin-top: 2rem;
}

.divider {
  width: 90%;
}

.pattern-divider {
  margin: -1rem 0;
}

/* responsive card design */

.advice-section {
  background-color: hsl(217, 19%, 24%);
  box-sizing: border-box;
  border-radius: 15px;
  display: inline-block;
  padding: 1rem 2rem;
  position: absolute;
  left: 30%;
  bottom: 30%;
  width: 40%;
}

.mobile-divider {
  display: none;
}

@media (max-aspect-ratio: 1/1) {
  .mobile-divider {
    display: initial;
  }
  .desktop-divider {
    display: none;
  }
  .advice-section {
    width: 90%;
    left: 5%;
    bottom: 20%;
  }
}

/* button design */
.advice-section button {
  background-color: hsl(150, 100%, 66%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 1rem;
  position: relative;
  bottom: -3rem;
}

.advice-section button:hover {
  -webkit-box-shadow: 0px 0px 28px 15px rgba(82, 255, 168, 0.6);
  box-shadow: 0px 0px 28px 15px rgba(82, 255, 168, 0.6);
}

/* Attribution */
.attribution {
  position: relative;
  font-size: 11px;
  text-align: center;
  top: 100vh;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
